#container {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    max-width: 480px;
}

.sqr {
    box-sizing: border-box;
    background-color: rgb(56, 115, 56);
    width: 30px;
    height: 30px;
    flex-shrink: 0;
}